* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: #202020;
}

.header {
  background-image: url(../images/apple-pie.jpg);
  height: 100vh;
  background-size: cover;
}

#title {
  color: white;
  font-size: 70px;
  font-weight: 100;
  position: absolute;
  top: 45vh;
  right: 40vw;
}

.container-info {
  width: 65vw;
  margin: 0 auto;
  padding: 60px 0 30px 0;
  border-bottom: 1px solid #202020;
  font-size: 20px;
  margin-bottom: 10px;
  line-height: 1.5;
}

.img-info {
  margin: 30px 0 0 10vw;
}

.title {
  font-size: 30px;
  margin-bottom: 30px;
}